.App {
  padding: 1em;
}

.emojiButton {
  border: 0;
  background: 0;
  padding: 0;
  font-size: 1.3rem;
}

.emojiButton:active {
  opacity: 0.5;
}

.Card {
  border: 1px solid #666;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.8);
  width: 230px;
  min-height: 230px;
  margin: 1em;
  padding: 1em;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Card p {
  margin: 0;
  font-size: 0.8em;
}

.Card span {
  font-size: 3rem;
}

.Card img {
  margin: 0.5em;
}

.rotation .Card :nth-child(1) {
  transform: rotate(135deg);
}

.rotation .Card :nth-child(2) {
  transform: rotate(-135deg);
}

.rotation .Card :nth-child(3) {
  transform: rotate(90deg);
}

.rotation .Card :nth-child(4) {
  transform: rotate(-90deg);
}

.rotation .Card :nth-child(5) {
  transform: rotate(45deg);
}

.rotation .Card :nth-child(6) {
  transform: rotate(-45deg);
}

@media print {
  .Header {
    display: none;
  }
  .Card {
    margin: 0.5em;
    box-shadow: none;
  }
}